<template name="addcity">

<head>
  <title>Select City</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="container">
    <ul class="nav-item">
<li>  <h3 style="color:green;font-family:monotype-corsiva;">Please Add city</h3></li>
<li><a class="waves-effect waves-light btn modal-trigger" href="#addModal">Add City</a></li>
  </ul>
  <ul class="collection">
  {{#each notes}}
  {{> note}}
  {{/each}}
</ul>
</div>
{{> city}}

<script>
$(document).ready(function(){
  $('.modal').modal();
  });

</script>



<br/><br/><br/><br/>




</body>
</template>


<template name="city">
  <li class="collection-item">
    {{text}}
    <a href="#" class="delete-note secondary-content"><i class="material-icons">close</i></a>

  </li>

  <!-- Modal Structure -->
  <div id="addModal" class="modal">
    <div class="modal-content">
      <h3>Add City</h3>
      <form class="add-form">
        <input type="text" name="text" placeholder="Add City..">
      </form>
    </div>

  </div>
</template>
