<body>
  {{> ind}}
</body>

<template name="HomeLayout">
<header>
  <h1>The Home Page</h1>

</header>
<main>
  <div class="billboard">
    <h2>Put Home Page Content Here...</h2>
  </div>
</main>
</template>

<template name="ind">
<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo">The Market</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/">Home</a></li>
    <li><a href="/add">Product</a></li>
    <li><a href="/add-city">City</a></li>
    <li><a href="/test">Main</a></li>
    <li><a href="/userlogin">Login</a></li>
  </ul>
</div>
</nav>
</template>
